html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vis-item.base {
  background-color: rgb(126, 222, 126);
}

.vis-item.next {
  background-color: rgb(75, 75, 203);
}

.vis-item.delta {
  background-color: rgb(208, 131, 144);
}

.vis-item.delete {
  background-color: red;
}

.vis-item.create {
  background-color: aqua;
}

.vis-item.modify {
  background-color: blue;
}

.vis-item.acces {
  background-color: gray;
}
